<div id="wrapper" class="row wrapper">
  <div class="container-min-full-height d-flex justify-content-center align-items-center">
      <div class="login-center">
          <div class="navbar-header text-center mb-5">
              <a href="index.html">
                  <img alt="" src="/assets/demo/logo-expand-dark.png">
              </a>
          </div>
          <!-- /.navbar-header -->
          <form (ngSubmit)="f.form.valid && adminLogin(f)" #f="ngForm" novalidate>
              <div class="form-group">
                  <label for="example-email">Email</label>
                  <input type="email" placeholder="johndoe@site.com" name="email" 
                  [(ngModel)]="loggingDetail.email" #email="ngModel" class="form-control form-control-line">
              </div>
              <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                <div *ngIf="email.errors.required">Email is required</div>
              </div>

              <div class="form-group">
                  <label for="example-password">Password</label>
                  <input type="password" placeholder="password" name="password"
                  [(ngModel)]="loggingDetail.password" #password="ngModel" 
                  class="form-control form-control-line">
              </div>
              <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                <div *ngIf="password.errors.required">Password is required</div>
              </div>

              <div class="form-group">
                  <button class="btn btn-block btn-lg btn-color-scheme text-uppercase fs-12 fw-600" 
                  type="button">Login</button>
              </div>
              <div class="form-group no-gutters mb-0">
                  <div class="col-md-12 d-flex">
                      <a href="javascript:void(0)" id="to-recover" class="my-auto pb-2 text-right">
                        <i class="material-icons mr-2 fs-18">lock</i> Forgot Password?</a>
                  </div>
                  <!-- /.col-md-12 -->
              </div>
              <!-- /.form-group -->
          </form>
          <!-- /.form-material -->
          <hr>
          <div class="row btn-list">
              <div class="col-md-6">
                  <button type="button" class="btn btn-block btn-facebook ripple" data-toggle="tooltip" data-placement="top" title="Login with Facebook"><i class="social-icons list-icon">facebook</i> facebook</button>
              </div>
              <div class="col-md-6">
                  <button type="button" class="btn btn-block btn-googleplus ripple" data-toggle="tooltip" data-placement="top" title="Login with Google"><i class="social-icons list-icon">googleplus</i> google</button>
              </div>
          </div>
          <!-- /.btn-list -->
          <footer class="col-sm-12 text-center">
              <hr>
              <p>Don't have an account? <a href="page-register.html" class="text-primary m-l-5"><b>Sign Up</b></a>
              </p>
          </footer>
      </div>
      <!-- /.login-center -->
  </div>
  <!-- /.d-flex -->
</div>