
<div id="wrapper" class="wrapper container">
  <div class="row container-min-full-height align-items-center">
      <div class="col-10 ml-sm-auto col-sm-6 col-md-4 ml-md-auto login-center login-center-mini mx-auto">
          <!-- /.navbar-header -->
              <div class="w-100">
                <h4 class="mb-4 text-center">Change password.</h4>
                <form name="reset_password" (ngSubmit)="f.valid && onSubmitResetPassword(f)" 
                      #f="ngForm" novalidate>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" id="password" 
                    [(ngModel)]="model.pwd" #name="ngModel" 
                    [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required>
                  </div> 

                  <div class="form-group">
                    <label for="con_password">Confirm password</label>
                    <input type="password" name="con_password" class="form-control" id="con_password"
                    [(ngModel)]="model.pwd_con" #name="ngModel" 
                    [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <!-- /form -->
            </div>
      </div>
      <!-- /.login-right -->
  </div>
  <!-- /.row -->
</div>