
<!-- HEADER & TOP NAVIGATION -->
<nav class="navbar" *ngIf="navbarStatus">
    <!-- Logo Area -->
    <div class="navbar-header">
        <a href="" class="navbar-brand">
            <img class="logo-expand" alt="" src="/assets/demo/logo-expand.png">
            <img class="logo-collapse" alt="" src="/assets/demo/logo-collapse.png">
            <!-- <p>BonVue</p> -->
        </a>
    </div>
   
    <!-- Search Form -->
    <form class="navbar-search d-none d-sm-block" role="search"><i class="feather feather-search list-icon"></i> 
        <input type="search" class="search-query" placeholder="Search anything..."> <a href="javascript:void(0);" class="remove-focus"><i class="feather feather-x"></i></a>
    </form>
    <!-- /.navbar-search -->
    <div class="spacer"></div>
    <!-- Button: Create New -->
    <div class="btn-list dropdown d-none d-md-flex mr-4 mr-0-rtl ml-4-rtl"><a href="javascript:void(0);" class="btn btn-primary dropdown-toggle ripple" data-toggle="dropdown"><i class="feather feather-plus list-icon"></i> New Member</a>
        <div class="dropdown-menu dropdown-left animated flipInY"><span class="dropdown-header">Create new ...</span>  <a class="dropdown-item" href="#">Projects</a>  <a class="dropdown-item" href="#">User Profile</a>  <a class="dropdown-item" href="#"><span class="d-flex align-items-end"><span class="flex-1">To-do Item</span> <span class="badge badge-pill bg-primary-contrast">7</span> </span></a>
            <a class="dropdown-item" href="#"><span class="d-flex align-items-end"><span class="flex-1">Mail</span>  <span class="badge badge-pill bg-color-scheme-contrast">23</span></span>
                </a>
                <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><span class="d-flex align-items-center"><span class="flex-1">Settings</span> <i class="feather feather-settings list-icon icon-muted"></i></span></a>
        </div>
    </div>
    <!-- /.btn-list -->
    <!-- User Image with Dropdown -->
    <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle ripple" data-toggle="dropdown">
            <span class="avatar thumb-xs2"><img src="assets\demo\users\user1.jpg" class="rounded-circle" alt=""> <i class="feather feather-chevron-down list-icon"></i></span></a>
        <div class="dropdown-menu dropdown-left dropdown-card dropdown-card-profile animated flipInY">
            <div class="card">
                <header class="card-header d-flex mb-0">
                  <a href="javascript:void(0);" class="col-md-4 text-center"><i class="feather feather-user-plus align-middle"></i> </a>
                  <a href="javascript:void(0);" class="col-md-4 text-center"><i class="feather feather-settings align-middle"></i> </a>
                  <a (click)="logout()" class="col-md-4 text-center"><i class="feather feather-power align-middle"></i>
                        </a>
                </header>
                <ul class="list-unstyled card-body">
                    <li><a [routerLink]="['/manager-user']">Manage User</a>
                    </li>
                    <li><a [routerLink]="['/password-reset']"><span><span class="align-middle">Change Password</span></span></a>
                    </li>
                    <li><a (click)="logout()" href="#"><span><span class="align-middle">Sign Out</span></span></a>
                    </li>
                </ul>
            </div>
</div>
</li>
</ul>
<!-- /.navbar-right -->
<!-- /.navbar-right -->
</nav>