.side-section {
    background-color: #fff;
    //padding: 15px;
    border: 1px solid #eee;
}

.wrapper {
    padding-top: 80px;
}

.all-user-section {
    padding-left: 10px;
    padding-right: 15px;
}

.linksection {
    background-color: #835bae;
}

.group-section {
    padding: 15px;
}

.sidelink {
    h4 {
        color: #fff;
    }

    p {
        margin-bottom: 9px;
        color: #fff;
    }
}

.group-list {
    padding-top: 15px;
}

.border-demacation {
}

.widget-body {
    h3 {
        margin-bottom: 12px;
    }
}

span.delete-role-icon.pull-right {
    margin-left: 40px;
    border-left: 1px solid #dee;
    padding-left: 40px;
    margin-right: 20px;
}

.checkstyle :hover {
    background-color: #eee;
    padding-bottom: 3px;
    padding-top: 3px;
}

.sidelink p {
    cursor: pointer;
}

h1.pull-right.close-btn-icon {
    position: absolute;
    right: -10px;
    top: -50px;
    cursor: pointer;
}

.sidelink {
    width: 70%;
    margin: auto;
}

.col-12.col-md-3.list-group {
    padding: 0px 10px 10px 10px;
    border-right: 1px solid #ddd;
}

.ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #8256ce !important;
    color: #fefefe;
    cursor: default;
    border-radius: 50% !important;
}

span.mr-auto.mr-0-rtl.ml-auto-rtl {
    text-transform: capitalize;
}