<div class="container-fluid wrapper">
    <div class="row no-gutters">
      <div class="col-12 col-md-2 linksection">
        <div class="sidelink">
            <h4>Manage users</h4>
            <p (click)="ngxSmartModalService.getModal('group').open()">Add Role</p>
            <p (click)="ngxSmartModalService.getModal('user').open()">Add User</p>
        </div>
        <!-- <form [formGroup]="form" (ngSubmit)="submit()">
            <div formArrayName="items"
              *ngFor="let item of form.controls['items'].controls; let i = index">
              <div [formGroupName]="i">
                <input formControlName='name'> 
                <input formControlName='surname'>
                <button type="button" (click)="onRemove(i)">Remove</button>
                <button type="button" (click)="onSave(i)">Save</button>
              </div>
            </div>
            <button type="button" (click)="addNext()">Add Next</button>
            
            <button type="submit">Submit</button>
        </form> -->
      </div>
      <div class="col-12 col-md-10">
        <div class="group-section">
            <h3>Groups</h3>
            <div class="side-section">
              <div class="row no-gutters">
                  <div class="col-12 col-md-3 list-group">
                      <div class="all-group-section">
                          <h4 class="group-title all-group-title">All Role</h4>
                          <form class="form-inline">
                          </form>
                      </div>
                      <input class="form-control" id="l8" [(ngModel)]="userFilter.roles" placeholder="Search Role" type="text">                                  

                      <div class="group-list">
                          <div class="list-group">
                            <div *ngFor="let role of roleList | filterBy: userFilter" (click)="onRoleSelect(role)" href="#" class="list-group-item list-group-item-action d-flex point justify-content-end">
                              <span class="mr-auto mr-0-rtl ml-auto-rtl"><i class="feather feather-mail icon icon-muted mr-2">
                              </i>{{role.roles}}</span> 
                              <span class="badge badge-pill bg-danger-contrast fs-12 mr-1 my-auto">{{role.role_id}}</span>
                              <i class="feather feather-chevron-right icon icon-muted my-auto"></i> 
                              <p *ngIf="(roleList | filterBy: userFilter).length === 0">No matching elements</p>
                            </div>
                           </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-9">
                        <div class="show-user border-demacation" *ngIf="showUser">
                            <div class="all-user-section">
                                    <h4 class="group-title all-group-title">All Users</h4>
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="search-user-form-sec">
                                                <input class="form-control" [(ngModel)]="users.surname"  placeholder="Search user" type="text"> 
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="add-user pull-left">
                                                <button class="btn btn-primary pull-right">Add User</button></div>
                                                
                                                <div class="add-user" style="margin-left: 180px;">
                                                    <button class="btn btn-primary">Referesh</button>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="all-user-list">
                                        <div class="col-md-12 widget-holder">
                                            <div class="widget-bg">
                                                <!-- /.widget-heading -->
                                                <div class=" clearfix">
                                                    <table class="table table-editable table-responsive">
                                                        <thead>
                                                            <tr>
                                                                <th>Surname</th>
                                                                <th>Other Name</th>
                                                                <th>Email</th>
                                                                <th>Phone Number</th>
                                                                <th>Group</th>
                                                                <th></th>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let user of users | paginate: { itemsPerPage: 5, currentPage: p }">
                                                                <td><span class="tabledit-span tabledit-identifier">{{ user.surname }}</span></td>
                                                                <td class="tabledit-view-mode"><span class="tabledit-span">{{ user.other_name }}</span></td>
                                                                <td class="tabledit-view-mode"><span class="tabledit-span">{{ user.email }}</span></td>
                                                                <td class="tabledit-view-mode"><span class="tabledit-span">{{ user.phone }}</span></td>
                                                                <td class="tabledit-view-mode"><span class="tabledit-span">{{ user.group }}</span></td>
                                                                <td style="white-space: nowrap; width: 1%;"><div class="tabledit-toolbar btn-toolbar" style="text-align: left;">
                                                                    <div class="btn-group btn-group-sm" style="float: none;">
                                                                    <button type="button"
                                                                        (click)="ngxSmartModalService.getModal('editUser').open(); onEdit($event, user)"
                                                                        class="tabledit-edit-button btn btn-sm btn-default" style="float: none;">
                                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                                    </button>
                                                                    <button type="button" class="tabledit-delete-button btn btn-sm btn-default" style="float: none;">
                                                                        <span class="glyphicon glyphicon-trash"></span>
                                                                    </button>
                                                                    </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
                                                </div>
                                                <div class="container">
                                                    <li *ngIf="(users | filterBy: userFilter).length === 0">No matching elements</li>
                                                </div>
                                                <!-- /. -->
                                            </div>
                                            <!-- /.widget-bg -->
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="show-group border-demacation" *ngIf="showgroup">
                            <div class="group-section">
                                <div class="col-md-12 widget-holder">
                                        <div class="widget-bg">
                                            <div class="clearfix">
                                                <h1 class="pull-right close-btn-icon"><img (click)="onCloseGroup()"
                                                     width="40" src="/assets/error.svg"></h1>
                                                <h5>{{ roleName.roles }} (Role)</h5>
                                                <div class="tabs">
                                                    <ul class="nav nav-tabs nav-justified">
                                                        <li class="nav-item"><a class="nav-link" href="#home-tab2" data-toggle="tab" aria-expanded="false">Home</a>
                                                        </li>
                                                        <li class="nav-item" aria-expanded="false"><a class="nav-link" href="#profile-tab2" data-toggle="tab" aria-expanded="false">Users assigned</a>
                                                        </li>
                                                        <li class="nav-item"><a class="nav-link" href="#messages-tab2" data-toggle="tab" aria-expanded="false">Privilegies</a>
                                                        </li>
                                                    </ul>
                                                    <!-- /.nav-tabs -->
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="home-tab2" aria-expanded="false">
                                                            <span class="pull-left"><i class="feather feather-sun"></i> {{ roleName.roles}}</span>
                                                            
                                                            <span (click)="onDeleteRole(roleName.role_id)" class="delete-role-icon pull-right point">
                                                                <img width="29" src="assets/delete.svg"/></span>
                                                            <span class="pull-right">({{ roleName.role_id}}) users</span>
                                                        </div>
                                                        <div class="tab-pane" id="profile-tab2" aria-expanded="false">
                                                            
                                                                <div class="all-user-list">
                                                                        <div class="col-md-12 widget-holder">
                                                                            <div class="widget-bg">
                                                                                <!-- /.widget-heading -->
                                                                                <div class=" clearfix">
                                                                                    <table class="table table-hover table-editable">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th>Surname</th>
                                                                                                <th>Other Name</th>
                                                                                                <th>Email</th>
                                                                                                <th>Phone Number</th>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            <tr *ngFor="let user of users">
                                                                                                <td><span class="tabledit-span tabledit-identifier">{{ user.surname }}</span></td>
                                                                                                <td class="tabledit-view-mode"><span class="tabledit-span">{{ user.other_name }}</span></td>
                                                                                                <td class="tabledit-view-mode"><span class="tabledit-span">{{ user.email }}</span></td>
                                                                                                <td class="tabledit-view-mode"><span class="tabledit-span">{{ user.phone }}</span></td>
                                                                                        </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                                <!-- /. -->
                                                                            </div>
                                                                            <!-- /.widget-bg -->
                                                                        </div>
                                                                    </div>
                                                        </div>
                                                        <div class="tab-pane" id="messages-tab2" aria-expanded="false">
                                                                <div class="form-check">
                                                                    <label class="checkstyle" style="width: 98%" for="defaultCheck1">
                                                                        Add User
                                                                    </label>
                                                                    <input class="form-check-input pull-right" type="checkbox" value="" id="defaultCheck1">
                                                                </div>
                                                                <div class="form-check">
                                                                    <label class="checkstyle" style="width: 98%" for="defaultCheck1">
                                                                        Delete user
                                                                    </label>
                                                                    <input class="form-check-input pull-right" type="checkbox" value="" id="defaultCheck1">
                                                                </div>
                                                                <div class="form-check">
                                                                    <label class="checkstyle" style="width: 98%" for="defaultCheck1">
                                                                        Approve user
                                                                    </label>
                                                                    <input class="form-check-input pull-right" type="checkbox" value="" id="defaultCheck1">
                                                                </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.tab-content -->
                                                </div>
                                                <!-- /.tabs -->
                                            </div>
                                            <!-- /. -->
                                        </div>
                                        <!-- /.widget-bg -->
                                    </div>
                            </div>
                        </div>
                     
                    </div>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>

<!-- Add group modal -->
<ngx-smart-modal  (onDismiss)="clearModal()" (onClose)="false" [closable]="false" 
[escapable]="false" [dismissable]="false" #group identifier="group">
  <h1>Add Role</h1>
  <form name="role" (ngSubmit)="f.valid && onSubmitRole(f)" #f="ngForm" novalidate>
      <div class="form-group">
          <label>Name</label>
          <input class="form-control" name="name" type="text" placeholder="Name"
          [(ngModel)]="rolemodel.name" #name="ngModel" 
          [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required >
      </div>
      <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
          <div *ngIf="name.errors.required">Role name is required</div>
      </div>

      <div class="form-group">
          <label>Description</label>
          <input class="form-control" type="text" name="description" placeholder="Description"
          [(ngModel)]="rolemodel.description" #description="ngModel" 
          [ngClass]="{ 'is-invalid': f.submitted && description.invalid }" required >
      </div>
      <div *ngIf="f.submitted && description.invalid" class="invalid-feedback">
          <div *ngIf="description.errors.required">Role description is required</div>
      </div>

      <div class="form-group text-center no-gutters mb-4">
          <button [disabled]="loading || !f.form.valid"  class="btn btn-block btn-lg btn-color-scheme text-uppercase fs-12 fw-600">Submit
              <img width="70" *ngIf="loading" src="/assets/loading_blue.gif">
          </button>
      </div>
  </form>

  <button class="btn btn-danger" (click)="group.close()">Close</button>
</ngx-smart-modal>



<!-- Add user modal -->
<ngx-smart-modal (onDismiss)="clearModal()" (onClose)="false" [closable]="false" 
[escapable]="false" [dismissable]="false" #user identifier="user">
    <h1>Add User</h1>
    <form name="user" (ngSubmit)="onSubmitUser(u)" #u="ngForm" novalidate>
        <div class="form-group">
            <label>Surname</label>
            <input class="form-control" name="surname" type="text" placeholder="Surname"
            [(ngModel)]="usermodel.surname" #surname="ngModel" 
            [ngClass]="{ 'is-invalid': u.submitted && surname.invalid }" required >
        </div>
        <div *ngIf="f.submitted && surname.invalid" class="invalid-feedback">
            <div *ngIf="surname.errors.required">Surname is required</div>
        </div>

        <div class="form-group"> 
            <label>Other Name</label>
            <input class="form-control" name="othername" type="text" placeholder="Other Name"
            [(ngModel)]="usermodel.othername" #othername="ngModel" 
            [ngClass]="{ 'is-invalid': u.submitted && othername.invalid }" required >
        </div>
        <div *ngIf="u.submitted && othername.invalid" class="invalid-feedback">
            <div *ngIf="othername.errors.required">Other Name is required</div>
        </div>

        <div class="form-group">
            <label>Email</label>
            <input class="form-control" name="email" type="email" placeholder="Email"
            [(ngModel)]="usermodel.email" #email="ngModel" 
            [ngClass]="{ 'is-invalid': u.submitted && email.invalid }" required >
        </div>
        <div *ngIf="u.submitted && email.invalid" class="invalid-feedback">
            <div *ngIf="email.errors.required">Email is required</div>
        </div>

        <div class="form-group">
            <label>Phone Number</label>
            <input class="form-control" name="phonenumber" type="text" placeholder="Phone Number"
            [(ngModel)]="usermodel.phonenumber" #phonenumber="ngModel" 
            [ngClass]="{ 'is-invalid': u.submitted && phonenumber.invalid }" required >
        </div>
        <div *ngIf="u.submitted && phonenumber.invalid" class="invalid-feedback">
            <div *ngIf="phonenumber.errors.required">Phone number is required</div>
        </div>

        <div class="form-group">
            <label>To Role</label>
            <select class="form-control" name="role" 
            [(ngModel)]="usermodel.role"  #role="ngModel" 
            [ngClass]="{ 'is-invalid': u.submitted && role.invalid }">
                <option [value]="role.role_id" *ngFor="let role of roleList">             
                  {{role.roles}}
                </option>
            </select>
        </div>

        <p>{{ roleList | json}}</p>
        
        <!-- /.form-group -->
        <div class="form-group text-center no-gutters mb-4">
            <button class="btn btn-block btn-lg btn-color-scheme text-uppercase fs-12 fw-600">
              Submit <img width="70" *ngIf="loading" src="/assets/loading_blue.gif">
            </button>
          </div>
        <!-- /.btn-list -->
    </form>
  
    <button class="btn btn-danger" (click)="user.close()">Close</button>
</ngx-smart-modal>


<!-- Edit user modal -->
<ngx-smart-modal (onDismiss)="clearModal()" (onClose)="false" [closable]="false" 
[escapable]="false" [dismissable]="false" #editUser identifier="editUser">
    <h1>Edit User</h1>
    <form name="user" (ngSubmit)="u.valid && onEditUser(u)" #e="ngForm" novalidate>
        <div class="form-group">
            <label>Surname</label>
            <input class="form-control" name="surname" type="text" placeholder="Surname"
            [(ngModel)]="usermodel.surname" #surname="ngModel"
            [ngClass]="{ 'is-invalid': e.submitted && surname.invalid }" required >
        </div>
        <div *ngIf="e.submitted && surname.invalid" class="invalid-feedback">
            <div *ngIf="surname.errors.required">Surname is required</div>
        </div>

        <div class="form-group"> 
            <label>Other Name</label>
            <input class="form-control" name="othername" type="text" placeholder="Other Name"
            [(ngModel)]="usermodel.othername" #othername="ngModel" 
            [ngClass]="{ 'is-invalid': e.submitted && othername.invalid }" required >
        </div>
        <div *ngIf="e.submitted && othername.invalid" class="invalid-feedback">
            <div *ngIf="othername.errors.required">Other Name is required</div>
        </div>

        <div class="form-group">
            <label>Email</label>
            <input class="form-control" name="email" type="email" placeholder="Email"
            [(ngModel)]="usermodel.email" #email="ngModel"
            [ngClass]="{ 'is-invalid': e.submitted && email.invalid }" required >
        </div>
        <div *ngIf="e.submitted && email.invalid" class="invalid-feedback">
            <div *ngIf="email.errors.required">Email is required</div>
        </div>

        <div class="form-group">
            <label>Phone Number</label>
            <input class="form-control" name="phonenumber" type="text" placeholder="Phone Number"
            [(ngModel)]="usermodel.phone" #phonenumber="ngModel" 
            [ngClass]="{ 'is-invalid': e.submitted && phonenumber.invalid }" required >
        </div>
        <div *ngIf="e.submitted && phonenumber.invalid" class="invalid-feedback">
            <div *ngIf="phonenumber.errors.required">Phone number is required</div>
        </div>

        <div class="form-group">
            <label>To Role</label>
            <select class="form-control" name="role" 
            [(ngModel)]="usermodel.group"  #role="ngModel"
            [ngClass]="{ 'is-invalid': e.submitted && role.invalid }" required>
                <option [value]="role.name" *ngFor="let role of roleList">             
                  {{role.name}}
                </option>
            </select>
        </div>
        <div *ngIf=
        "e.submitted && role.invalid" class="invalid-feedback">
            <div *ngIf="role.errors.required">Role is required</div>
        </div>
        
        <!-- /.form-group -->
        <div class="form-group text-center no-gutters mb-4">
            <button [disabled]="loading"  class="btn btn-block btn-lg btn-color-scheme text-uppercase fs-12 fw-600">
                Submit <img width="70" *ngIf="loading" src="/assets/loading_blue.gif">
            </button>
        </div>
        <!-- /.btn-list -->
    </form>
  
    <button class="btn btn-danger" (click)="editUser.close()">Close</button>
</ngx-smart-modal>