<section class="body-bg-full profile-page " style="background-image: url(assets/demo/error-page.jpg)">
  <div id="wrapper" class="row wrapper ">
      <div class="col-10 signup-form ml-sm-auto col-sm-8 col-md-4 ml-md-auto login-center mx-auto">
          <div class="navbar-header text-center mb-5">
              <a href="index.html">
                  <img alt="" src="assets\demo\logo-expand-dark.png">
              </a>
          </div>
          <!-- /.navbar-header -->
          <h5><a href="javascript:void(0);">Sign Up</a></h5>
          <p>Signing up is easy. It only takes a few steps and you'll be up and running in no time.</p>
          <form id="loginform" action="index.php">
              <div class="form-group">
                  <label>Name</label>
                  <input class="form-control" type="text" required="" placeholder="Name">
              </div>
              <div class="form-group">
                  <label>Email</label>
                  <input class="form-control" type="text" required="" placeholder="Email">
              </div>
              <div class="form-group">
                  <label>Password</label>
                  <input class="form-control" type="password" required="" placeholder="Password">
              </div>
              <div class="form-group">
                  <label>Confirm Password</label>
                  <input class="form-control" type="password" required="" placeholder="Confirm Password">
              </div>
              <div class="form-group no-gutters mb-3">
                  <div class="checkbox checkbox-color-scheme">
                      <label>
                          <input type="checkbox"> <span class="label-text">I agree to all <a href="#">Terms &amp; Conditions</a></span>
                      </label>
                  </div>
                  <!-- /.checkbox -->
              </div>
              <!-- /.form-group -->
              <div class="form-group text-center no-gutters mb-4">
                  <button class="btn btn-block btn-lg btn-color-scheme text-uppercase fs-12 fw-600" type="button">Sign Up</button>
              </div>
              <hr class="mb-4">
              <div class="row btn-list">
                  <div class="col-md-6">
                      <button type="button" class="btn btn-block btn-facebook ripple" data-toggle="tooltip" data-placement="top" title="Login with Facebook"><i class="social-icons list-icon">facebook</i> facebook</button>
                  </div>
                  <div class="col-md-6">
                      <button type="button" class="btn btn-block btn-googleplus ripple" data-toggle="tooltip" data-placement="top" title="Login with Google"><i class="social-icons list-icon">googleplus</i> google</button>
                  </div>
              </div>
              <!-- /.btn-list -->
          </form>
          <!-- /.form-horzontal -->
          <footer class="col-sm-12 text-center">
              <hr>
              <p>Already have an account? <a href="page-login.html" class="text-primary m-l-5"><b>Log In</b></a>
              </p>
          </footer>
      </div>
      <!-- /.login-center -->
  </div>
  </section>

