<main class="main-wrapper clearfix" style="min-height: 261px;">
  <!-- Page Title Area -->
  <div class="row page-title clearfix">
      <div class="page-title-left">
          <h6 class="page-title-heading mr-0 mr-r-5">Default</h6>
          <p class="page-title-description mr-0 d-none d-md-inline-block">statistics, charts and events</p>
      </div>
      <!-- /.page-title-left -->
      <div class="page-title-right d-none d-sm-inline-flex">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Dashboard</a>
              </li>
              <li class="breadcrumb-item active">Default</li>
          </ol>
          <div class="d-none d-md-inline-flex justify-center align-items-center"><a href="javascript: void(0);" class="btn btn-color-scheme btn-sm fs-11 fw-400 mr-l-40 pd-lr-10 mr-l-0-rtl mr-r-40-rtl hidden-xs hidden-sm ripple" target="_blank">Buy Now</a>
          </div>
      </div>
      <!-- /.page-title-right -->
  </div>
  <!-- /.page-title -->
  <!-- =================================== -->
  <!-- Different data widgets ============ -->
  <!-- =================================== -->
  <div class="widget-list row">
      <div class="widget-holder widget-full-content widget-full-height col-md-6">
          <div class="widget-bg">
              <div class="widget-body">
                  <div class="counter-gradient">
                      <h3 class="fs-60 fw-600 mt-3 pt-1 h1 letter-spacing-minus"><span class="counter" id="counter-0">6,843</span></h3>
                      <h5 class="mb-4 fw-500">New Registered Member</h5>
                      <p class="text-muted">Number of all users who have registered
                          <br>on your website last week</p>
                  </div>
                  <!-- /.widget-counter -->
                  <div class="row columns-border-bw border-top">
                      <div class="col-6 d-flex flex-column justify-content-center align-items-center pd-tb-30">
                          <label class="d-flex flex-md-row flex-column align-items-center cursor-pointer checkbox-checked">
                              <input type="checkbox" checked="checked" class="js-switch" data-color="#8253eb" data-size="small" data-switchery="true" style="display: none;"><span class="switchery switchery-small" style="background-color: rgb(130, 83, 235); border-color: rgb(130, 83, 235); box-shadow: rgb(130, 83, 235) 0px 0px 0px 13px inset; transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;"><small style="left: 27px; transition: background-color 0.4s ease 0s, left 0.2s ease 0s; background-color: rgb(255, 255, 255);"></small></span> <span class="text-muted mr-l-20 mr-l-0-rtl mr-r-20-rtl d-inline-block">User Registrations</span>
                          </label>
                      </div>
                      <!-- /.col-6 -->
                      <div class="col-6 d-flex flex-column justify-content-center align-items-center pd-tb-30">
                          <label class="d-flex flex-md-row flex-column align-items-center cursor-pointer">
                              <input type="checkbox" class="js-switch" data-color="#8253eb" data-size="small" data-switchery="true" style="display: none;"><span class="switchery switchery-small" style="box-shadow: rgb(221, 221, 221) 0px 0px 0px 0px inset; border-color: rgb(221, 221, 221); background-color: rgb(221, 221, 221); transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;"><small style="left: 0px; transition: background-color 0.4s ease 0s, left 0.2s ease 0s;"></small></span> <span class="text-muted mr-l-20 mr-l-0-rtl mr-r-20-rtl d-inline-block">Total Sales</span>
                          </label>
                          <!-- /.col-6 -->
                      </div>
                      <!-- /.col-6 -->
                  </div>
              </div>
              <!-- /.widget-body -->
          </div>
          <!-- /.widget-bg -->
      </div>
      <!-- /.widget-holder -->
      <div class="widget-holder widget-full-content widget-full-height col-md-6">
        <div class="widget-bg">
            <div class="widget-body">
                <div class="counter-gradient">
                    <h3 class="fs-60 fw-600 mt-3 pt-1 h1 letter-spacing-minus"><span class="counter" id="counter-0">643</span></h3>
                    <h5 class="mb-4 fw-500">All Member</h5>
                    <p class="text-muted">Number of all users who have registered
                        <br>on your website last week</p>
                </div>
                <!-- /.widget-counter -->
                <div class="row columns-border-bw border-top">
                    <div class="col-6 d-flex flex-column justify-content-center align-items-center pd-tb-30">
                        <label class="d-flex flex-md-row flex-column align-items-center cursor-pointer checkbox-checked">
                            <input type="checkbox" checked="checked" class="js-switch" data-color="#8253eb" data-size="small" data-switchery="true" style="display: none;"><span class="switchery switchery-small" style="background-color: rgb(130, 83, 235); border-color: rgb(130, 83, 235); box-shadow: rgb(130, 83, 235) 0px 0px 0px 13px inset; transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;"><small style="left: 27px; transition: background-color 0.4s ease 0s, left 0.2s ease 0s; background-color: rgb(255, 255, 255);"></small></span> <span class="text-muted mr-l-20 mr-l-0-rtl mr-r-20-rtl d-inline-block">User Registrations</span>
                        </label>
                    </div>
                    <!-- /.col-6 -->
                    <div class="col-6 d-flex flex-column justify-content-center align-items-center pd-tb-30">
                        <label class="d-flex flex-md-row flex-column align-items-center cursor-pointer">
                            <input type="checkbox" class="js-switch" data-color="#8253eb" data-size="small" data-switchery="true" style="display: none;"><span class="switchery switchery-small" style="box-shadow: rgb(221, 221, 221) 0px 0px 0px 0px inset; border-color: rgb(221, 221, 221); background-color: rgb(221, 221, 221); transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;"><small style="left: 0px; transition: background-color 0.4s ease 0s, left 0.2s ease 0s;"></small></span> <span class="text-muted mr-l-20 mr-l-0-rtl mr-r-20-rtl d-inline-block">Total Sales</span>
                        </label>
                        <!-- /.col-6 -->
                    </div>
                    <!-- /.col-6 -->
                </div>
            </div>
            <!-- /.widget-body -->
        </div>
        <!-- /.widget-bg -->
    </div>
      <!-- /.widget-holder -->
      <div class="widget-holder widget-sm widget-border-radius col-md-3">
          <div class="widget-bg">
              <div class="widget-heading bg-purple"><span class="widget-title my-0 color-white fs-12 fw-600">AVG Conversion Time</span>  <i class="widget-heading-icon feather feather-box"></i>
              </div>
              <!-- /.widget-heading -->
              <div class="widget-body">
                  <div class="counter-w-info">
                      <div class="counter-title color-color-scheme"><span class="counter" id="counter-1">2.5</span>hrs</div>
                      <!-- /.counter-title -->
                      <div class="counter-info"><span class="badge bg-success-contrast"><i class="feather feather-arrow-up"></i> 23% increase </span>in conversion</div>
                      <!-- /.counter-info -->
                  </div>
                  <!-- /.counter-w-info -->
              </div>
              <!-- /.widget-body -->
          </div>
          <!-- /.widget-bg -->
      </div>
      <!-- /.widget-holder -->
      <div class="widget-holder widget-sm widget-border-radius col-md-3">
          <div class="widget-bg">
              <div class="widget-heading bg-purple"><span class="widget-title my-0 color-white fs-12 fw-600">Daily Earnings</span>  <i class="widget-heading-icon feather feather-briefcase"></i>
              </div>
              <!-- /.widget-heading -->
              <div class="widget-body">
                  <div class="counter-w-info">
                      <div class="counter-title color-purple">$<span class="counter" id="counter-2">846</span>
                      </div>
                      <!-- /.counter-title -->
                      <div class="counter-info"><span class="badge bg-danger-contrast"><i class="feather feather-arrow-down"></i> 6% decrease </span>in earnings</div>
                      <!-- /.counter-info -->
                  </div>
                  <!-- /.counter-w-info -->
              </div>
              <!-- /.widget-body -->
          </div>
          <!-- /.widget-bg -->
      </div>
      <!-- /.widget-holder -->
      <div class="widget-holder widget-sm widget-border-radius col-md-3">
          <div class="widget-bg">
              <div class="widget-heading"><span class="widget-title my-0 fs-12 fw-600">Completed Tasks</span>  <i class="widget-heading-icon feather feather-anchor"></i>
              </div>
              <!-- /.widget-heading -->
              <div class="widget-body">
                  <div class="counter-w-info">
                      <div class="counter-title">
                          <div class="d-flex justify-content-center align-items-end">
                              <div data-toggle="circle-progress" data-start-angle="30" data-thickness="6" data-size="40" data-value="0.58" data-line-cap="round" data-empty-fill="#E2E2E2" data-fill="{&quot;gradient&quot;: [&quot;#40E4C2&quot;, &quot;#0087FF&quot;], &quot;gradientAngle&quot;: -90}"><canvas width="40" height="40"></canvas></div><span class="counter ml-3" id="counter-3">432</span>
                          </div>
                          <!-- /.d-flex -->
                      </div>
                      <!-- /.counter-title -->
                      <div class="counter-info"><span class="badge bg-success-contrast"><i class="feather feather-arrow-up"></i> 5% increase</span>
                      </div>
                      <!-- /.counter-info -->
                  </div>
                  <!-- /.counter-w-info -->
              </div>
              <!-- /.widget-body -->
          </div>
          <!-- /.widget-bg -->
      </div>
      <!-- /.widget-holder -->
      <div class="widget-holder widget-sm widget-border-radius col-md-3">
          <div class="widget-bg">
              <div class="widget-heading"><span class="widget-title my-0 fs-12 fw-600">Advertising Credits</span>  <i class="widget-heading-icon feather feather-zap"></i>
              </div>
              <!-- /.widget-heading -->
              <div class="widget-body">
                  <div class="counter-w-info">
                      <div class="counter-title">
                          <div class="d-flex justify-content-center align-items-center"><span data-toggle="sparklines" sparkheight="25" sparktype="bar" sparkchartrangemin="0" sparkbarspacing="3" sparkbarcolor="#947AE8"><canvas width="46" height="25" style="display: inline-block; width: 46px; height: 25px; vertical-align: top;"></canvas></span><span class="align-bottom ml-2"><span class="counter" id="counter-4">670</span></span>
                          </div>
                          <!-- /.d-flex -->
                      </div>
                      <!-- /.counter-title -->
                      <div class="counter-info"><span class="badge bg-success-contrast"><i class="feather feather-arrow-up"></i> 5% increase </span>in advertising</div>
                      <!-- /.counter-info -->
                  </div>
                  <!-- /.counter-w-info -->
              </div>
              <!-- /.widget-body -->
          </div>
          <!-- /.widget-bg -->
      </div>
      <!-- /.widget-holder -->
  </div>
  <!-- /.widget-list -->
  <hr>
  <div class="widget-list row">
      <div class="widget-holder widget-full-height col-md-6">
          <div class="widget-bg">
              <div class="widget-heading widget-heading-border">
                  <h5 class="widget-title">Latest Transactions</h5>
                  <div class="widget-actions">
                      <div class="predefinedRanges badge bg-success-contrast px-3 cursor-pointer heading-font-family" data-plugin-options="{

          &quot;locale&quot;: {

            &quot;format&quot;: &quot;MMM YYYY&quot;

          }

         }"><span>Jul 2019 - Aug 2019</span>  <i class="feather feather-chevron-down ml-1"></i>
                      </div>
                  </div>
                  <!-- /.widget-actions -->
              </div>
              <!-- /.widget-heading -->
              <div class="widget-body">
                  <table class="widget-latest-transactions">
                      <tbody><tr>
                          <td class="thumb-xs2">
                              <a href="#">
                                  <img class="rounded-circle" src="assets\demo\users\user2.jpg">
                              </a>
                          </td>
                          <td class="single-user-details"><a class="single-user-name" href="#">Gene Newman</a>  <small>on Sep 16, 2017</small>
                          </td>
                          <!-- /.single-user-details -->
                          <td class="single-amount">IDR 250.875</td>
                          <td class="single-status"><i class="material-icons fs-18 color-success">fiber_manual_record</i>  <span class="text-muted d-none d-sm-inline">confirmed</span>
                          </td>
                          <!-- /.single-status -->
                      </tr>
                      <tr>
                          <td class="thumb-xs2">
                              <a href="#">
                                  <img class="rounded-circle" src="assets\demo\users\user3.jpg">
                              </a>
                          </td>
                          <td class="single-user-details"><a href="#" class="single-user-name">Billy Black</a>  <small>on Aug 21, 2017</small>
                          </td>
                          <!-- /.single-user-details -->
                          <td class="single-amount">IDR 875.250</td>
                          <td class="single-status"><i class="material-icons fs-18 color-warning">fiber_manual_record</i>  <span class="text-muted d-none d-sm-inline">waiting payment</span>
                          </td>
                          <!-- /.single-status -->
                      </tr>
                      <tr>
                          <td class="thumb-xs2">
                              <a href="#">
                                  <img class="rounded-circle" src="assets\demo\users\user5.jpg">
                              </a>
                          </td>
                          <td class="single-user-details"><a href="#" class="single-user-name">Herbert Diaz</a>  <small>on Aug 13, 2017</small>
                          </td>
                          <!-- /.single-user-details -->
                          <td class="single-amount">IDR 520.758</td>
                          <td class="single-status"><i class="material-icons fs-18 color-success">fiber_manual_record</i>  <span class="text-muted d-none d-sm-inline">confirmed</span>
                          </td>
                          <!-- /.single-status -->
                      </tr>
                      <tr>
                          <td class="thumb-xs2">
                              <a href="#">
                                  <img class="rounded-circle" src="assets\demo\users\user4.jpg">
                              </a>
                          </td>
                          <td class="single-user-details"><a href="#" class="single-user-name">Sylvia Harvey</a>  <small>on Aug 8, 2017</small>
                          </td>
                          <!-- /.single-user-details -->
                          <td class="single-amount">IDR 250.875</td>
                          <td class="single-status"><i class="material-icons fs-18 color-danger">fiber_manual_record</i>  <span class="text-muted d-none d-sm-inline">payment expired</span>
                          </td>
                          <!-- /.single-status -->
                      </tr>
                      <tr>
                          <td class="thumb-xs2">
                              <a href="#">
                                  <img class="rounded-circle" src="assets\demo\users\user6.jpg">
                              </a>
                          </td>
                          <td class="single-user-details"><a href="#" class="single-user-name">Marsha Hoffman</a>  <small>on July 30, 2017</small>
                          </td>
                          <!-- /.single-user-details -->
                          <td class="single-amount">IDR 875.250</td>
                          <td class="single-status"><i class="material-icons fs-18 color-success">fiber_manual_record</i>  <span class="text-muted d-none d-sm-inline">confirmed</span>
                          </td>
                          <!-- /.single-status -->
                      </tr>
                      <tr>
                          <td class="thumb-xs2">
                              <a href="#">
                                  <img class="rounded-circle" src="assets\demo\users\user7.jpg">
                              </a>
                          </td>
                          <td class="single-user-details"><a href="#" class="single-user-name">Mason Grant</a>  <small>on July 16, 2017</small>
                          </td>
                          <!-- /.single-user-details -->
                          <td class="single-amount">IDR 250.875</td>
                          <td class="single-status"><i class="material-icons fs-18 color-success">fiber_manual_record</i>  <span class="text-muted d-none d-sm-inline">confirmed</span>
                          </td>
                          <!-- /.single-status -->
                      </tr>
                      <tr>
                          <td class="thumb-xs2">
                              <a href="#">
                                  <img class="rounded-circle" src="assets\demo\users\user8.jpg">
                              </a>
                          </td>
                          <td class="single-user-details"><a href="#" class="single-user-name">Shelly Sullivan</a>  <small>on July 13, 2017</small>
                          </td>
                          <!-- /.single-user-details -->
                          <td class="single-amount">IDR 875.250</td>
                          <td class="single-status"><i class="material-icons fs-18 color-warning">fiber_manual_record</i>  <span class="text-muted d-none d-sm-inline">waiting payment</span>
                          </td>
                          <!-- /.single-status -->
                      </tr>
                      <!-- /.single -->
                  </tbody></table>
                  <!-- /.widget-latest-transactions -->
              </div>
              <!-- /.widget-body -->
          </div>
          <!-- /.widget-bg -->
      </div>
      <!-- /.widget-holder -->
      <div class="widget-holder widget-full-height col-md-6">
          <div class="widget-bg">
              <div class="widget-heading widget-heading-border">
                  <h5 class="widget-title">User Activities</h5>
                  <div class="widget-actions"><a href="#" class="badge bg-info-contrast px-3 cursor-pointer heading-font-family">See all activities</a>
                  </div>
                  <!-- /.widget-actions -->
              </div>
              <!-- /.widget-heading -->
              <div class="widget-body">
                  <div class="widget-user-activities">
                      <div class="single media">
                          <figure class="single-user-avatar user--online thumb-xs2">
                              <a href="#">
                                  <img class="rounded-circle" src="assets\demo\users\user2.jpg">
                              </a>
                          </figure>
                          <div class="media-body">
                              <div class="single-header clearfix">
                                  <div class="float-left"><a href="#" class="single-user-name">Gene Newman</a>  <small>Sep 16, via Tapatalk+</small>
                                  </div>
                                  <!-- /.float-left --> <a href="#" class="single-likes float-right"><i class="feather feather-thumbs-up"></i> <small>47 likes</small> </a>
                                  <!-- /.float-right -->
                              </div>
                              <!-- /.clearfix --> <a href="#" class="single-attachment"><i class="feather feather-download-cloud single-attachment-icon"></i> <span class="single-attachment-filename">Vacation Plans for Ibiza</span> <span class="single-attachment-filesize">67 mb</span> </a>
                              <!-- /.single-attachment -->
                          </div>
                          <!-- /.media -->
                      </div>
                      <!-- /.single -->
                      <div class="single media">
                          <figure class="single-user-avatar user--online thumb-xs2">
                              <a href="#">
                                  <img class="rounded-circle" src="assets\demo\users\user4.jpg">
                              </a>
                          </figure>
                          <div class="media-body">
                              <div class="single-header clearfix">
                                  <div class="float-left"><a href="#" class="single-user-name">Sylvia Harvey</a>  <small>July 31</small>
                                  </div>
                                  <!-- /.float-left --> <a href="#" class="single-likes float-right"><i class="feather feather-thumbs-up"></i> <small>86 likes</small> </a>
                                  <!-- /.float-right -->
                              </div>
                              <!-- /.clearfix -->
                              <p>Night fill together itself. Midst. Beginning. Behold living god had.</p>
                              <div class="single-gallery row">
                                  <figure class="col-6">
                                      <a class="d-block" href="assets/demo/status-gallery-1.jpg">
                                          <img class="w-100" src="assets\demo\status-gallery-1-thumb.jpg">
                                      </a>
                                  </figure>
                                  <!-- /.col-6 -->
                                  <figure class="col-6">
                                      <a class="d-block" href="assets\demo\status-gallery-2.jpg">
                                          <img class="w-100" src="assets\demo\status-gallery-2-thumb.jpg">
                                      </a>
                                  </figure>
                                  <!-- /.col-6 -->
                              </div>
                              <!-- /.single-gallery -->
                          </div>
                          <!-- /.media-body -->
                      </div>
                      <!-- /.single -->
                      <div class="single media">
                          <div class="single-event-icon bg-purple"><i class="feather feather-map"></i>
                          </div>
                      </div>
                      <!-- /.single -->
                  </div>
                  <!-- /.widget-user-activities -->
              </div>
              <!-- /.widget-body -->
          </div>
          <!-- /.widget-bg -->
      </div>
      <!-- /.widget-holder -->
  </div>
</main>